html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
  background-color: rgb(230, 236, 240);
}

#logo {
  float: left;
}

nav {
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px #aaa;
}

.navlink {
  color: white;
  font-size: 1.3em;
  float: left;
  padding-top: 12px;
  padding-left: 15px;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

#content, #passwordDiv {
  background-color: rgb(245, 248, 250);
  width: 30%;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

#content h1, #passwordDiv h1 {
  text-align: center;
}

.mainForm {
    width: 350px;
    margin: 0 auto;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 15px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.username, #displayname, #password, #password2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 4px;
}

.username:focus, #displayname:focus, #password:focus, #password2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#tweetFormDiv{
  margin: 0 auto;
  margin-top: 10px;
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(232, 245, 253);
  border: 1px solid #ccc;
}

#tweetForm {
  padding: 10px;
  margin-top: 10px;
}

#uploadImage {
  margin-bottom: 7px;
}

.emptyTweet {
  text-align: center;
}

.tweet, .emptyTweet {
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 10px;
  width: 40%;
  background-color: white;
}

.tweet h4 {
  margin: 0;
}

.tweet:hover {
  cursor: pointer;
  background-color: rgb(245, 248, 250);
}

.makeTweetSubmit, .changeTweetSubmit {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  margin-left: 5px;
  border-radius: 15px;
  background-color: #55acee;
}

.makeTweetSubmit:hover, .changeTweetSubmit:hover, .changeTweet:hover, .deleteTweet:hover, .delYes:hover, .delNo:hover {
  transition: background-color 0.8s ease;
  background-color: #66bdff;
}

#tweetMessage {
  border-radius: 4px;
  padding: 5px;
}

.tweetImg {
  margin-bottom: 10px;
}

.dropDownIcon {
  float: right;
}

.optDiv {
  color: white;
  background-color: #55acee;
  float: right;
  border-radius: 5px;
  position: relative;
  left: 90px;
  top: 20px;
}

hr {
  margin: 0;
}

.changeTweet, .deleteTweet {
  text-decoration: none;
  text-align:center;
  padding: 5px;
  border-radius: 5px;
}

.delDiv {
  color: white;
  background-color: #55acee;
  float: right;
  border-radius: 5px;
  border-top: 1.5px solid #ddd;
  position: relative;
  left: 185px;
  top: 79px;
  width: 95px;
}

.delYes {
  border-radius: 5px 0px 0px 5px;
  border-right: 1px solid #ddd;
}

.delNo {
  border-radius: 0px 5px 5px 0px;
}

.delYes, .delNo {
  display: inline-block;
  text-align: center;
  width: 49%;
  padding-top: 3px;
  padding-bottom: 3px;
}

#ErrMessage {
  text-align: center;
}

.replyButton {
  margin-right: 5px;
}

.replyButton, .favButton {
  vertical-align: middle;
}

.replies {
  margin-top: 10px;
}

.replyDiv {
  border-radius: 5px;
  background-color: rgb(217, 235, 253);
  margin-top: 4px;
  padding: 7px;
}

.replyDiv p {
  margin-bottom: 0;
}

.replyDiv h3 {
  text-align: center;
  margin: 0 auto;
}

.viewReplies {
  float:right;
}